/NUL
/builddata.pm
/configdata.pm
/installdata.pm
/makefile
/makefile.in
/apps/CA.pl
/apps/progs.c
/apps/progs.h
/apps/tsget.pl
/apps/*.dll
/apps/*.exe
/crypto/buildinf.h
/crypto/params_idx.c
/crypto/uplink-*.asm
/engines/*.def
/engines/*.dll
/exporters/OpenSSLConfig.cmake
/exporters/OpenSSLConfigVersion.cmake
/exporters/*.pc
/fuzz/*.dll
/include/crypto/bn_conf.h
/include/crypto/dso_conf.h
/include/internal/param_names.h
/include/openssl/*.h
/libcrypto*.exp
/libcrypto*.lib
/libcrypto*.res
/libssl*.exp
/libssl*.lib
/libssl*.res
/providers/common/der/*_gen.c
/providers/common/include/prov/der_*.h
/providers/*.def
/providers/*.dll
/providers/*.exp
/providers/*.lib
/providers/*.rc
/providers/*.res
/test/*.dll
/tools/c_rehash.pl
/util/wrap.pl
